# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.DS_Store

# Virtual Environment (venv)
env/
venv/
ENV/
.venv/
.raspberry_venv/
.env/

# PyCharm
.idea/
*.iml
*.iws
.idea/*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Raspberry Pi
config.txt
cmdline.txt
*.elf
*.dat
*.dtb
*.img
*.bin

# Logs
*.log
*.out
*.pid

# iOS/Swift
build/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcworkspace
!default.xcworkspace
DerivedData/
.idea/
Pods/
*.moved-aside
*.xcuserstate

# Other temporary files
*.tmp
*.bak
*.old